{% extends 'posts/layout.html' %}

{% block title %} {{post.title}} {% endblock %}
{% block blog %} class="active" {% endblock %}

{% block content %}

  <div class="posts-container">
    <div class="post-metas">
      <span class="post-created-at-title">{{post.created_at}}</span>
      {% if post.author.all|length > 0 %}
      <span class="post-author-title">{% for author in post.author.all %} {{author.name}} {% endfor %}</span>
      {% endif %}
      <span class="post-category-title">{% for category in post.category.all %} {{category.name}} {% endfor %}</span>
    </div>
    {{ post.body|safe }}
  </div>

  <div class="post-comments" id="post-comments">

    <h1 class="add-comment-title">Add Comment</h1>

    <form action="{% url 'add' %}" method="post">
    {% csrf_token %}
      <!-- <input style="display: none;" id="post-id" name="post-id" value="{{post.id}}"> -->
      <input style="display: none;" type="number" name="post-id" value="{{post.id}}">
      <input id="commenter" name="commenter" placeholder="Your name">
      <textarea  id="comment-text" name="comment-text" placeholder="Add comment..."></textarea>
      <div>
        <button id="add-comment-btn" type="button" name="button">Add comment</button>
      </div>
    </form>

    {% if post_comments|length != 1%}
    <h1 class="comments-title">{{post_comments|length}} Comments</h1>
    {% else %}
    <h1 class="comments-title">{{post_comments|length}} Comment</h1>
    {% endif %}


    {% for comment in post_comments %}
      <div class="post-comment">
        <span class="comment-creator">{{comment.creator}}</span> <span class="comment-created-at">{{comment.created_at}}</span>
        <p>{{comment.text}}</p>
      </div>
    {% endfor %}

  </div>

<script>
  commentField = document.getElementById("comment-text")
  addCommentBtn = document.getElementById("add-comment-btn")

  addCommentBtn.addEventListener("click", addComment)

  function addComment() {
    if (commentField.value == "") {
      commentField.style = "border: 1px solid red"
    } else {
      addCommentBtn.type = "submit"
    }
  }

</script>

{% endblock %}
